# --- Dossiers à exclure ---
data/
logs/
__pycache__/
env/
venv/
.ipynb_checkpoints/

# --- Fichiers temporaires ---
*.log
*.tmp
*.bak

# --- Fichiers Python ---
*.pyc
*.pyo
*.pyd

# --- OS ---
.DS_Store
Thumbs.db

# --- VSCode ---
.vscode/

# --- PyCharm ---
.idea/
